@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fuentes/Gilroy-Light.otf');
   
  }
  @font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fuentes/Gilroy-ExtraBold.otf');
    
  }
  
  .generalContent{
    align-items:center;
    justify-content: center;
    width: 100%;
   
  }
  .contentImageHeader{
    display: flex;
    position: relative;
    width: 100%; 
   
     
  }
.imageShowTruman{
  display: block;
    margin-top: 2px;
    width: 100%; 
    position: relative;
   
}

.welcome{
    position:absolute;
    margin-top: 15px;
    font-family: 'Gilroy-Light';
    color: antiquewhite;
    font-size: 8.5vw;
    margin-left: 12px;
    
}

.description{ 
  position:absolute;
  top: calc(6vw + 6vw + 6vw);
  font-size: 5.8vw;
    font-family: 'Gilroy-Light';
    position:absolute;
    color: antiquewhite;
    line-height: 1; 
    text-align: left;
    margin-left: 12px;
    line-height: 1.1;
   
}


.divSearchGenre{
  display:flex;
  align-items: center;
  justify-content: center;
padding-top: 15px;
padding-bottom: 15px;


}
.contentResetFilter{
  display:flex;
  

}
.resetFilter{
  position: absolute;
  margin:0px;
  margin-top: 20px;
  width:120px;
  height: 35px;
  font-size: 16px;
  text-align: center;
  line-height: 10px;
  background-color: rgba(235, 185, 78, 0.932); 
  color: #FFF; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  font-family: 'Gilroy-ExtraBold';
  text-shadow: 1px 1px 1px #000;
  letter-spacing:1px;
  

}

.peliculasPopularesTitle{
  font-family: 'Gilroy-ExtraBold';
  color:rgb(11, 12, 26);
  font-size: 30px;
}

.seachText{
  font-family: 'Gilroy-ExtraBold';
  color:rgb(11, 12, 26);
  font-size: 20px;
  margin-top: 10px;
}

.viewMore{
  position: absolute;
  margin-top: 200px;
  right: 150px;
  width:120px;
  height: 35px;
 font-size: 17px;
 text-align: center;
 line-height: 10px;
 background-color: rgba(235, 185, 78, 0.932); 
 color: #FFF; 
 border: none; 
 border-radius: 5px; 
 cursor: pointer;
 font-family: 'Gilroy-ExtraBold';
 margin-bottom: 40px;
 text-shadow: 1px 1px 1px #000;
 letter-spacing:1px;
 
}