@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fuentes/Gilroy-Light.otf');
 
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fuentes/Gilroy-ExtraBold.otf');
  
}



.contentResetFilter{
display:flex;
justify-content: center;


}


.seriesPopularesTitle{
font-family: 'Gilroy-ExtraBold';
color:rgb(11, 12, 26);
font-size: 30px;
}

.seachText{
font-family: 'Gilroy-ExtraBold';
color:rgb(11, 12, 26);
font-size: 20px;
margin-top: 80px;
}



.imageShowTrumanSeries{
  margin-top: 2px;
  width: 0%;  
  
}