*{
    margin:0px;
    box-sizing: border-box;
    
}



#root{
    padding: 0px;
    display:flex;
    margin-top: 90px;
    
}
.DivCardMovie{
    display:inline-flex; 
    
}

.imgMovie{
    margin:2px;
    padding:3px;
    width: 123px;
    height: 165px;
    transition: transform 0.3s ease;
    
}

.imgMovie:hover {
    transform: scale(1.05);
}