

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fuentes/Gilroy-ExtraBold.otf');
    
  }

  @font-face {
    font-family: 'Gilroy-Light';
    src: url('../fuentes/Gilroy-Light.otf');
    
  }
.divComponentMovie{
display:flex;
  
}
.closeDescription{
    position:absolute;
    z-index: 2;
    left: 290px;
    margin-top: 9px;
    width:90px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    line-height: 10px;
    background-color: rgba(235, 185, 78, 0.932); 
    color: #FFF; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    font-family: 'Gilroy-ExtraBold';
    text-shadow: 1px 1px 0px #000;
    
}
.imageBackdropPath{
   position:absolute;
    margin-top: 50px;
    width: 100%;
    height: 190px;
    filter: brightness(0.8);
    z-index: 1;
}

.imagePosterPath{
    position: absolute;
    left: 200px;
    margin-top:210px;
    width: 170px;
    height: 250px;
    z-index: 2;
}

.keyData{
    position: absolute;
   margin-top: 250px;
  width:190px;
 height: 200px;
 left: 5px;
 
}
.nameDescription{
    font-family: 'Gilroy-Light';
    color:black;
    

}
.fontStyle{
    font-family: 'Gilroy-ExtraBold';
   color:black;

}
.titleMovieDescription{
    
    font-family: 'Gilroy-ExtraBold';
    font-size: 20px;
    margin: 0; /* Elimina el margen superior para un mejor ajuste */
    color: rgb(19, 22, 85);
    max-width: 100%;
}

.releaseDate{
    position:absolute;
    margin-top: 20px;
    right: 35px;
   

}

.originalTitleMovieDescription{
 position: absolute;
 margin-top: 75px;
 right: 35px;
 
    
    }

    .languageMovieDescription{
        position: absolute;
        margin-top: 45px;
        right: 45px;
    }

    .star{
        width: 25px;
        margin-top: 463px;
        position: absolute;
        right: 120px;
       
    }
    
    .scoreMovieDescription{
        position: absolute;
        margin-top: 463px;
        right: 88px;
        font-size: 19px;
        font-family: 'Gilroy-ExtraBold';
        color: rgb(19, 22, 85);
    }
.votesMovieDescription{
    position: absolute;
    margin-top: 490px;
    right: 75px;
    font-family: 'Gilroy-ExtraBold';
    color: rgb(19, 22, 85);
    font-size: 18px;
}

.divOverViewMovie{

position: absolute;
margin-top: 40px;
width:100%;
right: 2px;
}


.overviewTitle{
position: absolute;
font-family: 'Gilroy-ExtraBold';
font-size: 18px;
margin-top: 570px;
text-align: left;
left: 30px;
color: rgb(19, 22, 85);

}

.overviewMovie{
    position: absolute;
    font-family: 'Gilroy-Light';
    margin-top: 605px;
    text-align: left;
    font-size: 17px;
    left: 8px;
    padding: 1px;
    color: black;
}





.toggleTrailerButton{
    position:absolute;
    margin-top: 520px;
    right: 245px;
    width:110px;
  height: 35px;
  font-size: 22px;
  text-align: center;
  line-height: 10px;
  background-color: rgba(235, 185, 78, 0.932); 
  color: #FFF; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  font-family: 'Gilroy-ExtraBold';
  text-shadow: 1px 1px 0px #000;
}

.modalWrapper {
    position: relative;
    z-index: 2;
    
  }
  
  
  .modalYoutube {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    margin-top: 60px;
     z-index: 3;
    
  }
  
  .modalYoutube.visible {
    display: flex;
  flex-direction:column;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 330px  solid rgb(2, 2, 7);
   
}
  
  .youtube-video { 
    position: relative;
    width: 100%; /* Establece el ancho al 100% para que se ajuste al contenedor */
    max-width: 100%;
    z-index: 3;
   right: 310px;  
    
  }
  
  .hideTrailerButton {
    margin-top: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 10px;
  background-color: rgba(235, 185, 78, 0.932); 
  color: #FFF; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  font-family: 'Gilroy-ExtraBold';
  text-shadow: 1px 1px 0px #000;
  padding: 10px 20px;
cursor: pointer;

   
  }

  .modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  z-index: 1; /* Asegúrate de que el fondo esté detrás del modal */
  display: none; /* Inicialmente oculto */
}

.modalBackdrop.visible {
  display: block; /* Muestra el fondo oscuro cuando el modal está abierto */
}