@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fuentes/Gilroy-Light.otf');
  font-weight: normal; /* Puedes ajustar el peso de la fuente si es necesario */
  font-style: normal; /* Puedes ajustar el estilo de la fuente si es necesario */
}

.contentSearchBar{
  display:flex;
  left: 40px;
  align-items: center;
  margin-top: 22px;
  left: 100px;
    
}

.inputSearchMovies{
  position: relative;
  padding: 10px 10px 10px 30px;
  width: 200px;
  height: 34px;
  border: 1px solid #f7f3f3;
  border-radius: 5px;
  font-size: 14px;
  outline:none;
  font-family:  'Gilroy-Light';
  left: 168px;
 
}
.inputSearchMovies::placeholder{
  padding-left: 5px;
}
.inputSearchMovies:focus {
  padding-left: 35px; /* Ajusta el valor de padding-left según tus necesidades */
}


.imageSearch{
  position:absolute;
 width:18px;
 cursor: pointer;
 left: 180px;
}

.inputSearchMovies:not(:placeholder-shown) + .imageSearch {
  display: none;
}

