@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fuentes/Gilroy-Light.otf');
    
  }

.divSelectGenre{
    display:flex;
    align-items: center;

}

.selectGenre{
   margin-right: 10px;
    display:flex;
    width: 150px;
    height: 34px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-radius: 4px;
    font-family: 'Gilroy-Light';
    font-size: 13px;
   
}


